# Dependencies
node_modules/

# VS Code
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# HTML Preview
_preview.html

# Temp files
*.tmp

